body{
  background: #F6E8B1;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  text-align: center;
  margin:0 auto;
  padding: 0;
  width: 100%;
}

ul{
  list-style: none;
}

.section-headers{
  border-radius: 25px;
  border: 2px solid #d39b75;
  padding: 20px;
}

#image{
  border-radius: 25px;
  border: 10px solid #d39b75;
  height: 500px;
  width: 400px:
}
